### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.DataFrame(pd.read_csv(path))
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [8]:
# Create list of unique players
total_players = purchase_data["SN"].unique()

# Create new column to hold total number of players
# There's a much better way to do this...
purchase_data["Total number of players"] = len(total_players)

# Display one row of DF
purchase_data[["Total number of players"]].head(1)

   Total number of players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# Make calculations and put them in dictionary
summary_data = {"Number of Unique Items":len(purchase_data["Item ID"].unique()),
          'Average Price':round(purchase_data['Price'].mean(),2),
          'Number of Purchases':purchase_data['Purchase ID'].count(),
          'Total Revenue':purchase_data['Price'].sum()}

# Create dataframe using dictionary
summary = pd.DataFrame([summary_data])
summary.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
# Drops repeated customer IDs
no_repeat = purchase_data.drop_duplicates(subset='SN', keep='first')

# Creates a dict of gender values
total_count = no_repeat['Gender'].value_counts()

# Passes dict into new DF
gender = pd.DataFrame({'Total Count':total_count})

# Calculates percentage of total and creates new column
gender['Percentage of Total'] = (gender['Total Count']/gender['Total Count'].sum())*100

# Uses .map() to limit percentage to two decimal places and add percent sign 
gender["Percentage of Total"] = gender["Percentage of Total"].map("{:.2f}%".format)

gender.head()

                       Total Count Percentage of Total
Male                           484              84.03%
Female                          81              14.06%
Other / Non-Disclosed           11               1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# Counts number of perchases per gender
# Calculates average purchase price by gender
# Calculates average purchase value by gender using .sum()
# Calculates average purchase price by gender per person 
# References "no_repeat" dataframe to get numbers of individuals
# avg_value_person_gender =  purchase_data.groupby('Gender')['Price'].sum()/no_repeat['Gender'].value_counts()
gender_calc = {"Purchase Count":purchase_data["Gender"].value_counts(),
               "Average Purchase Pirce":purchase_data.groupby("Gender")["Price"].mean(),
               "Total Purchase Value":purchase_data.groupby("Gender")["Price"].sum(),
               "Average Total Purchase Per Person":purchase_data.groupby("Gender")["Price"].sum()/no_repeat["Gender"].value_counts()
              }

# Creates new dataframe to hold information
# (Could also add columns to existing "gender" DF)
gender_info = pd.DataFrame(gender_calc)

# Adds mapping to add symbols, make cleaner
gender_info['Average Purchase Pirce'] = gender_info['Average Purchase Pirce'].map("${:,.2f}".format)
gender_info['Total Purchase Value'] = gender_info['Total Purchase Value'].map("${:,.2f}".format)
gender_info['Average Total Purchase Per Person'] = gender_info['Average Total Purchase Per Person'].map("${:,.2f}".format)

# Display DF
gender_info.head()

,Purchase Count,Average Purchase Pirce,Total Purchase Value,Average Total Purchase Per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
# Create bins based on age categories
bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]

# Create labels to display that correspond with ages
ages = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','>40']

# Create new DF and use .cut() to seperate data into bins
age_info = pd.DataFrame(pd.cut(no_repeat['Age'], bins=bins, labels=ages).value_counts())

# Rename 'Age' column to 'Player Ages'
age_info = age_info.rename(columns={'Age':'Number of Players'})

# Create 'Percentage of Players' column and calculate percent of total of each bin/category 
age_info['Percentage of Players'] = (age_info['Number of Players']/age_info['Number of Players'].sum())*100

# Use mapping to show round, show percent sign
age_info['Percentage of Players'] = age_info['Percentage of Players'].map("{:.2f}%".format)

# Reorder the rows in ascending order
age_info = age_info.reindex(ages)

# Display all rows
age_info.head(10)

       Number of Players Percentage of Players
<10                   17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
>40                   12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
age_bins = pd.cut(purchase_data['Age'], bins=bins, labels=ages)
age_summary = pd.DataFrame(age_bins.value_counts())
age_summary = age_summary.rename(columns={'Age':'Purchase Count'})


age_summary['Average Purchase Price'] = purchase_data.groupby(age_bins)['Price'].mean()
age_summary['Total Purchase Value'] = purchase_data.groupby(age_bins)['Price'].sum()

age_summary['Average Total Purchase per Person'] = (purchase_data.groupby(age_bins)['Price'].sum())/age_info['Number of Players']

# Use mapping to show round, show dollar sign
age_summary['Average Purchase Price'] = age_summary['Average Purchase Price'].map("${:.2f}".format)
age_summary['Total Purchase Value'] = age_summary['Total Purchase Value'].map("${:,.2f}".format)
age_summary['Average Total Purchase per Person'] = age_summary['Average Total Purchase per Person'].map("${:.2f}".format)

# Reorder the rows in ascending order
age_summary = age_summary.reindex(ages)

# Display all rows
age_summary.head(10)

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
>40,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
# Creates DF grouped by 'SN' 
# Uses .sum() to determine total spent by each user
top_spenders = pd.DataFrame(purchase_data.groupby(['SN'])[['Price']].sum())
top_spenders["Purchase Count"] = purchase_data["SN"].value_counts()
top_spenders["Average Purchase Price"] = top_spenders["Price"]/top_spenders["Purchase Count"]
top_spenders.sort_values("Price",ascending=False).head()

# Renames 'Price' to 'Total Purchase Value'
top_spenders = top_spenders.rename(columns={"Price":"Total Purchase Value"})

# Reorder DF by descending 'Total Purchase Value'
top_spenders = top_spenders.sort_values("Total Purchase Value",ascending=False)

# Use mapping to round and add symbols
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:.2f}".format)
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:.2f}".format)

top_spenders.head()

            Total Purchase Value  Purchase Count Average Purchase Price
SN
Lisosia93                 $18.96               5                  $3.79
Idastidru52               $15.45               4                  $3.86
Chamjask73                $13.83               3                  $4.61
Iral74                    $13.62               4                  $3.40
Iskadarya95               $13.10               3                  $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
# Create dataframe to hold Item ID, Item Name, and Item Price columns
popular = pd.DataFrame(purchase_data.sort_values("Item ID")[["Item ID","Item Name","Price"]])

# Create dataframe to hold purchase count (size of each product)
purchase_count = pd.DataFrame(purchase_data.groupby("Item ID").size(),columns=["Purchase Count"])

# Merge the two DFs on "Item ID"
summary = pd.merge(popular,purchase_count,on="Item ID")

# Drop the repeat rows
summary = summary.drop_duplicates(subset="Item ID", keep='first')

# Create new column to hold calculated "Total Purchase Value", or "Price"*"Purchase Count"
summary["Total Purchase Value"] = summary["Price"]*summary["Purchase Count"]

# Mapping

# Sort the DF by "Purchase Count" and display first 5 rows
summary.sort_values("Purchase Count",ascending=False).reset_index().head()

,index,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
0,750,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
1,613,145,Fiery Glass Crusader,4.58,9,41.22
2,456,108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
3,340,82,Nirvana,4.90,9,44.10
4,80,19,"Pursuit, Cudgel of Necromancy",1.02,8,8.16

## Most Profitable Items

In [16]:
# Sort the DF by "Total Purchase Value" and display first 5 rows
summary = summary.sort_values(("Total Purchase Value"),ascending=False)

# Have to run this last because it converts value to string
summary["Total Purchase Value"] = summary["Total Purchase Value"].map("${:.2f}".format)
summary["Price"] = summary["Price"].map("${:.2f}".format)

# Display first five rows
summary.head()

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
750,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
340,82,Nirvana,$4.90,9,$44.10
613,145,Fiery Glass Crusader,$4.58,9,$41.22
381,92,Final Critic,$4.88,8,$39.04
436,103,Singed Scalpel,$4.35,8,$34.80

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame