### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [51]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.DataFrame(pd.read_csv(path))
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [ ]:
total_players = purchase_data["SN"].unique()

purchase_data["Total number of players"] = len(total_players)
# FIX THIS
purchase_data[["Total number of players"]].head(1)

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Make calculations and put them in dictionary
summary_data = {"Number of Unique Items":len(purchase_data["Item ID"].unique()),
          'Average Price':round(purchase_data['Price'].mean(),2),
          'Number of Purchases':purchase_data['Purchase ID'].count(),
          'Total Revenue':purchase_data['Price'].sum()}
summary = pd.DataFrame([summary_data])
summary.head()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
# Drops repeated customer IDs
no_repeat = purchase_data.drop_duplicates(subset='SN', keep='first')

# Creates a dict of gender values
total_count = no_repeat['Gender'].value_counts()

# Passes dict into new DF
gender = pd.DataFrame({'Total Count':total_count})

# Calculates percentage of total and creates new column
# Not perfect. Don't know how to get the percent sign, etc.
gender['Percentage of Total'] = (gender['Total Count']/gender['Total Count'].sum())*100

gender.head()


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
gender['Purchase Count'] = pd.DataFrame(purchase_data['Gender'].value_counts())
gender['Average Purchase Pirce'] = purchase_data.groupby('Gender')['Price'].mean()
gender['Average Purchase Value'] = purchase_data.groupby('Gender')['Price'].sum()
gender['Average Total Purchase Per Person'] = purchase_data.groupby('Gender')['Price'].sum()/no_repeat['Gender'].value_counts()

                                                    
gender.head()

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]
ages = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','>40']
age_info = pd.DataFrame(pd.cut(no_repeat['Age'], bins=bins, labels=ages).value_counts())

age_info = age_info.rename(columns={'Age':'Player Ages'})

age_info['Percentage of Players'] = (age_info['Player Ages']/age_info['Player Ages'].sum())*100

age_info.head(10)

#How do I get the bins in the proper order?

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
age_bins = pd.cut(purchase_data['Age'], bins=bins, labels=ages)
age_summary = pd.DataFrame(age_bins.value_counts())
age_summary = age_summary.rename(columns={'Age':'Purchase Count'})


age_summary['Average Purchase Price'] = purchase_data.groupby(age_bins)['Price'].mean()
age_summary['Total Purchase Value'] = purchase_data.groupby(age_bins)['Price'].sum()
age_summary['Average Total Purchase per Person'] = (purchase_data.groupby(age_bins)['Price'].sum())/no_repeat['Purchase ID'].count()

age_summary.head(10)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
top_spenders = pd.DataFrame(purchase_data.groupby(['SN'])[['Price']].sum())
top_spenders = top_spenders.rename(columns={"Price":"Total Purchase Value"})
top_spenders["Purchase Count"] = purchase_data['SN'].value_counts()
top_spenders["Average Purchase Price"] = purchase_data.groupby('SN')['Price'].sum()/purchase_data['SN'].value_counts()
top_spenders.sort_values("Total Purchase Value",ascending=False).head()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [81]:
# Create dataframe to hold Item ID, Item Name, and Item Price columns
popular = pd.DataFrame(purchase_data.sort_values("Item ID")[["Item ID","Item Name","Price"]])

# Create dataframe to hold purchase count (size of each product)
purchase_count = pd.DataFrame(purchase_data.groupby("Item ID").size(),columns=["Purchase Count"])

# Merge the two DFs on "Item ID"
summary = pd.merge(popular,purchase_count,on="Item ID")

# Drop the repeat rows
summary = summary.drop_duplicates(subset="Item ID", keep='first')

# Create new column to hold calculated "Total Purchase Value", or "Price"*"Purchase Count"
summary["Total Purchase Value"] = summary["Price"]*merged_table["Purchase Count"]

# Sort the DF by "Purchase Count" and display first 5 rows
summary.sort_values("Purchase Count",ascending=False).head()

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
750,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
613,145,Fiery Glass Crusader,4.58,9,41.22
456,108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
340,82,Nirvana,4.90,9,44.10
80,19,"Pursuit, Cudgel of Necromancy",1.02,8,8.16

## Most Profitable Items

In [83]:
# Sort the DF by "Total Purchase Value" and display first 5 rows
summary.sort_values("Total Purchase Value",ascending=False).head()

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
750,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
340,82,Nirvana,4.90,9,44.10
613,145,Fiery Glass Crusader,4.58,9,41.22
381,92,Final Critic,4.88,8,39.04
436,103,Singed Scalpel,4.35,8,34.80

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame